<div class="list-groups">
  {% for content in data %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td class="list-group-name">
              <b>{{ content }}</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
